
$color-sugarcane:#EFF0DF;

*{
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: $color-sugarcane;
    color: #3E3E3E;
}

header {
    background-image: url('/assets/backgrounds/h_img.jpg');
    background-size: cover;
}

.hero{
    &-heading h1{
        color:$color-sugarcane;
        font-size: 4rem;
        padding-bottom: 3rem;
    }
    &-text p{
        color: $color-sugarcane;
        font-size: 1.6rem;
        font-weight: 200;
    }

    &-logo {
        padding-bottom: 3rem;
    }
    &-section {
        height: 100vh;
    }
}

// ABOUT US

.about-us {
    background-color: $color-sugarcane;
    padding:15rem 0;
    &__heading h2{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .7rem;
        margin-bottom: 5rem;
    }
    &__text p,span{
        line-height: 1.6;
        font-size: 1.6rem;
        font-weight: 100;
    }
}

// SERVICES SECTION

.services {
    background-image: url('/assets/backgrounds/s_image.jpg');
    background-size: cover;
    padding:15rem 0;
    color: white;
    &__heading h2{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .7rem;
        margin-bottom: 5rem;
    }
    &__text p{
        line-height: 1.6;
        font-size: 1.6rem;
        font-weight: 100;
    }
}

// WHAT WE DO SECTION 

.what-we-do{
    margin-bottom: 15rem;

    &__icon,
    &__heading {
        margin-bottom: 3rem;
    }

    &__text p{
        font-size: 1.6rem;
    }

    &__h2 h2 {
        font-size: 3rem;
        margin-top: 5rem;
        letter-spacing: .7rem;
        margin: 9rem 0;
    }
}


